$panel-prefix-cls: #{$prefixCls}-panel;

.#{$panel-prefix-cls}{
  border: 1px solid transparent;
  min-height: 48px;
  &-header{
    padding: $padding-big;
    border-bottom: 1px solid $gray;
  }
  &-wrapper{
    display: flex;
    @include flex_center();
    justify-content: space-between;
  }
  &-title{
    font-size: $subtitle-font-size;
    color: $title-color;
    font-weight: $title-font-weight;
  }
  &-border{
    border: 1px solid $gray;
  }
  &-content{
    padding: $padding-big;
  }
}
